<style>
*{
  text-align: center;
}
.AlignLeft{
  text-align: left;
}
</style>


<h1>Angular Rest Veiculos</h1>
<button (click)="httpGetFunction()">Atualize a tabela</button>



<div *ngFor="let item of this.veiculos" >
  <ul >
    <li [innerHTML]="'Veiculo id : ' + item.id" class="AlignLeft">aa</li>
    <li [innerHTML]="'Placa : ' + item.placa" class="AlignLeft">aa</li>
    <li [innerHTML]="'Chassi : ' + item.chassi" class="AlignLeft">aa</li>
    <li [innerHTML]="'Renavam : ' + item.renavam" class="AlignLeft">aa</li>
    <li [innerHTML]="'Modelo : ' + item.modelo" class="AlignLeft">aa</li>
    <li [innerHTML]="'Marca : ' + item.marca" class="AlignLeft">aa</li>
    <li [innerHTML]="'Ano : ' + item.ano" class="AlignLeft">aa</li>
  </ul>

</div>

<h2>Mude os dados de um veiculo </h2>
<div class="AlignLeft">
  <input #putId value="Id">
  <input #putPlaca value="Placa">
  <input #putChassi value="Chassi">
  <input #putRenavam value="Renavam">
  <input #putModelo value="Modelo">
  <input #putMarca value="Marca">
  <input #putAno value="Ano">
  <button (click)="httpPutFunction()">Mude os valores</button>
</div>

  <h2>Adicione um veiculo</h2>
<div  class="AlignLeft">  
  <input #postPlaca value="Placa">
  <input #postChassi value="Chassi">
  <input #postRenavam value="Renavam">
  <input #postModelo value="Modelo">
  <input #postMarca value="Marca">
  <input #postAno value="Ano">
  <button (click)="httpPostFunction()">Adicionar</button>
</div>

  <h2>Delete um veiculo pelo id</h2>
<div  class="AlignLeft">
  
  <input #deleteId value="Id">
  <button (click)="httpDeleteFunction()">Delete</button>
</div>
